{% trans_default_domain 'FOSUserBundle' %}
{% extends 'sidebar.html.twig' %}

{% block content %}
    <div class="fos_user_user_show">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Empleado Registrado!</h4>
            <a class="btn btn-dark mt-2" href="{{ path('employees') }}">Volver a lista de empleados</a>
        </div>
    </div>
{% endblock %}
